body{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

}

.side{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color:#3c763d;
}


button{
    background-color: #56a957;
    color: beige;
    border: none;
}

.seq_units{
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 2px;
    border-radius: 100%;
    border-color:#56a957;
}

.seq_units_dis{
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 2px;
    border-radius: 100%;

}

#seq_full{
    width: 500px;
    height: 30px;
    text-align: center;
    margin: 2px;
}

button{
    width: 100px;
    height: 30px;
    text-align: center;
    margin: 2px;
}

#new_seq_div{
    content-visibility: hidden;
}

#new_seq_div2{
    align-items: center;
    display: flex;
    flex-direction: column;
}

#new_seq{
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.alert-box {
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;  
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: none;
}